:root {
    --primary: #40989d;
    --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.padding_1 {
    height: 5vh;

}

.MuiOutlinedInput-adornedEnd {
    padding-right: 0px !important;
}

.columns_container{
    margin-top: 1.25vh;
    margin-bottom: 1vh;
}

.columns_container .MuiGrid-spacing-xs-2 > .MuiGrid-item{
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
    
   
}

.paper {
    width: 100%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.internal_paper {
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.form {
    width: 100%;
    margin-top: -2vh;
}

.social_media_btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}



.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.title h1 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.4rem !important;
}

.react-icons {
    vertical-align: middle;
}

.Slide-media-446 {
    border-radius: 0.5vh !important;
}

.Slide-mediaBackground-449 {
    border-radius: 0.5vh !important;
}
.Logoimg{
    max-width: 50%;
   min-width: 50%;
   margin: 0vh 6vh 4vh 0vh;
    
}

.error_msg{
    width: 100%;
    height: auto;
    padding: 4px 12px 4px 12px;
    background-color: #B71C1C;
    border-radius: 0.5vw;
    color: white;
    margin-bottom: 2.3vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.error_msg span{
    color: white;
    font-size: 1.05em;
    margin: 0% !important;
}

.error_msg .help{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.error_msg .help_icon{
    cursor: pointer;
}

.dialog_title {
    font-family: 'Product Sans';
}

.dialog_content{
    width: inherit;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Product Sans';
    font-size: 1.1em;
}

.dialog_content a{
    color: var(--primary);
    text-decoration-line: underline;
    text-decoration-color: white;
}

.dialog_content a:hover {
    text-decoration-color: var(--primary);
}

.MuiDialogActions-root .MuiButton-label {
    color: var(--primary);
}

.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 0.9rem!important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}

.MuiOutlinedInput-input {
    padding: 14.5px 14px!important;
}