:root {
    --step_size: 55px;
    --primary: #08979D;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --transition-duration: 0.2s;
    --gradient: linear-gradient(136deg, #8058C8 0%, #8471A1 50%, #CCABD8 100%);
}

.activity_basic_container {
    width: 100%;
    height: 85vh;
    font-family: 'Product Sans' !important;
    background: var(--gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activity_basic_container .container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.activity_basic_container .container ul{
    padding-inline-start: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    column-count: auto !important;
}

.activity_basic_container .left_arrow {
    position: absolute;
    color: white;
    top: 48%;
    left: 0;
    margin-left: 24px;
    cursor: pointer;
    transition: all .2s ease-out !important;
    z-index: 12;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px 4px 2px;
    border-radius: 50%;
    border: solid 1px white;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.activity_basic_container .left_arrow:hover {
    background-color: white;
    color: #8474a1;
    border: solid 1px transparent;
}

.activity_basic_container .right_arrow {
    position: absolute;
    color: white;
    top: 48%;
    right: 0;
    margin-right: 24px;
    cursor: pointer;
    transition: all .2s ease-out !important;
    z-index: 12;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 2px 4px 6px;
    border-radius: 50%;
    border: solid 1px white;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.activity_basic_container .right_arrow:hover {
    background-color: white;
    color: #8474a1;
    border: solid 1px transparent;
}

.activity_basic_container .carousel {
    width: 78%;
    height: 100%;
}

.activity_basic_container .container_content {
    height: 79vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Product Sans' !important;
}

.activity_basic_container .container_content h1{
    font-family: 'Product Sans' !important;
    width: 75%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}

.activity_basic_container .container_content h3{
    font-family: 'Product Sans' !important;
    width: 75%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.activity_basic_container .container_content p{
    font-family: 'Product Sans' !important;
    width: 50%;
    text-align: center;
    font-size: 1em;
    margin: 0;
    padding: 0;
   
}
.activity_note{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.activity_place{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_fecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    width: 100%;
}

.date_time_container{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.date_container{
width: 50%;
display: flex;
    flex-direction: column;
    align-items:  flex-start;
}
.time_container{
width: 50%;
display: flex;
    flex-direction: column;
    align-items:  flex-end;
}

.date_time_container .WithStyles\(ForwardRef\(TextField\)\)-root-259{
    width: 90%!important;
}

.date_time_grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.container_fecha .MuiGrid-spacing-xs-2 > .MuiGrid-item {
    width: 100%!important;

}
.activity_basic_container .container_content .p_fullwidth{
    width: 80% !important;
}

.activity_basic_container .container_padding{
    height: 2vh;
}

.activity_basic_container .container .MuiInputBase-input {
    color: white !important;
}

.activity_basic_container.container .MuiInputLabel-outlined {
    color: rgba(255, 255, 255, 0.75) !important;
}

.categories_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.categories_container .MuiFab-root {
    width: 17vh;
    
    height: 17vh;
}



.categories_container .MuiFab-primary:hover {
    color:#8474a1!important;    
    background-color: #fff!important;
}

.categories_container .MuiSvgIcon-root {
    width: 2em;
    height: 2em;
}

.categories_container h3{

    width: 100%;
    margin-block-start: 0;
    margin-block-end: 3em;
    
}

.react-carousel-dots-dot.active {
    background-color: #8474a1;
    border-color: #8474a1 ;
}
.react-carousel-dots-dot {

    border: 0px solid black;
}
.categories_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 84%;
    margin-bottom: 6vh;
}

.categories_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 65%;
}


.activity_basic_container .categories {
    width: auto;
    height: auto;
    cursor: pointer;
}

.activity_basic_container .categories_img {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    object-fit: cover;
    object-position: top right;
}

.activity_basic_container .categories_overlay {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-bottom: 1.5vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    cursor: pointer;
}

.activity_basic_container .categories_overlay_selected {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    margin-bottom: 1.5vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    cursor: pointer;
    box-shadow: 0 0 0 0.8vh white;
}

.activity_basic_container .categories_txt{
    width: 80% !important;
    position: relative;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin: 0 !important;
    margin-left: 2.5vh !important;
    margin-top: 1.5vh !important;
    text-align: start !important;
}


.activity_basic_container .categories_txt:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: white;
    transition: .2s width linear;
}

.activity_basic_container .tags_container {
    width: 80%;
    height: auto;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activity_basic_container .tags_search_bar_container{
    height: 100%;
    width: 100%;
}

.activity_basic_container .tags_search_bar{
    align-content: center;
    height: 3em;
    padding: 0;
    font-family: Product Sans !important;
}

.activity_basic_container .tags-list{
    height: 20vh;
    width: 100%;
    border: 1px solid;
    border-color: var(--primary);
    border-radius: 5px;
    align-content: center;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-bottom: 1vh;  
    padding-top: 1vh;
    min-height: 3em;
    font-family: Product Sans !important;   
}

.activity_basic_container .submit_button{
    width: auto;
    height: auto;
    padding: 12px 28px 12px 28px;
    border-radius: 0.5vw;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-top: 5vh;
}

.activity_basic_container .submit_button:hover{
    background-color: white;
    color: transparent;
}

.activity_basic_container .submit_button p {
    width: 100% !important;
    margin: 0 !important;
    height: auto;
    font-family: 'Product Sans' !important;
    font-size: 1.05rem;
}

.activity_basic_container .dots-dot {
    border: 1px solid white !important;
    background-color: transparent !important;
    transition: all 0.15s ease-in-out !important;
}

.activity_basic_container .dots-dot.active{
    background-color: white !important;
    transition: all 0.15s ease !important;
    border: none !important;
}

.activity_basic_container .footer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 18px 0 28px 0;
}
