:root{
  --primary: #40989d;
  --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --transition-duration: 0.4s;
  --gradient:linear-gradient(136deg, #055B5C 0%, #40989d 50%);
  --step_size: 55px;
}
.sign_in{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.card{
    background-color: white;
    height: auto !important;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vh;  
    padding-top: 2vh;
    border-radius: 0.5vw;
    box-shadow: var(--shadow);
  }

  .filters{
      position: absolute;
      padding-left: 5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 8vh;

  }

  .filters li {
    width: 56px;
    height: 56px;
    margin-top: 12px;
  }

  .filters li:hover {
    opacity: 65%;
   
  }



  .content_home .MuiGrid-grid-xs-2 {
    position: sticky;
    top: 7vh;
  }
  .content_home .MuiGrid-spacing-xs-5 {
      width: 100%!important;
  }

  .test{
    background-color: green;
  }
  /* .test  :hover{
    background-color: blue;
  } */


  .tool{
      font-size: 30;
  }


  .add_container .MuiFab-primary{
    position: fixed;
    bottom: 5vh;
    right: 6vh;
    background-image:linear-gradient(136deg, #055B5C 0%, #40989d 50%)!important;

  }

  .add_container .MuiFab-primary:hover{
    opacity: 85%;

  }

  .activity_container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: auto;
  }

  .content_home{
    z-index: 1;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .containerPopUp{
    width: 100%;
  }
  .MuiDialogContent-root:first-child {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    border-radius: 0.5vw !important;
}

.MuiDialog-paperFullWidth {
    width: 72vw !important;
    max-width: 72vw !important;
    min-width: 72vw !important;
    margin: 0 !important;
    border-radius: 0.5vw !important;
}