:root{
  --primary: #40989d;
  --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --transition-duration: 0.4s;
  --gradient:linear-gradient(136deg, #055B5C 0%, #40989d 50%);
  --step_size: 55px;
}
.register_main{
  width: auto;
  height: 100vh;

}
.register_card{
    background-color: white;
    display: flex;
    flex-wrap: wrap;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vh;  
    padding-top: 2vh;
    border-radius: 0.5vw;
    box-shadow: var(--shadow);
    width: 100% !important;
    height: 100%;

    opacity: 90%;
  }
.swipe_container{
  position: absolute!important;
  z-index: 5;
}
  .background_overlay_reg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) , #0b1a1b );
    border-radius: 0.5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
}

.image_background_reg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;
}
.register_card .MuiGrid-item  {
max-width: 100%!important;

}
  .container_card_register{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }



.register_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.next_container_register{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.finish_container_register{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;


}
.finish_next_container_register{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

}
.prev_container_register{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.new_cat_bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.assistant_container {
    /* width: 65vw;
    height: 80vh;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-bottom: 2vh;  
    padding-top: 2vh;
    color: black;
    margin-bottom: 3em;
    margin-top: 3em; */

    width: 54vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 3em;
    margin-top: 3em;
}

.register_card .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  padding: 0px!important;
}

.content{
    width: 90%;
    height: 90%;
    align-items: center;
    display: inline-grid;
}


.image-upload > input
{
    display: none;
}
.image-upload img
{
    width: 20vh;
    cursor: pointer;
}

.profilepic{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
    margin-top: 4vh;
   
}

.profilepic > .crop {
    object-fit: cover;  
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    display: block;
    max-width: none !important;
}

.profilepic:hover{
    opacity: 0.6;
    transform:scale(1);
}
  
.search_bar{
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    align-content: center;
    height: 3em;
    padding: 0;
    font-family: Product Sans !important;

}
.sugestions{
        height: 20vh;
        border: 1px solid;
        border-color: var(--primary);
        border-radius: 5px;
        align-content: center;
        padding-right: 1vw;
        padding-left: 1vw;
        padding-bottom: 1vh;  
        padding-top: 1vh;
        min-height: 3em;
        font-family: Product Sans !important;
    
}
.container_search_bar{
    height: 100%;
    width: 100%;
}
.input:focus{
    outline: none;
}

.search_bar form input{
    border: 0px;
    height: 100%;
    width: 100%;
    font-family: Product Sans !important;
    font-size: 1.05rem;
}

.open-dialog {
  height: 3em;
  width: 3em;
}

.react-tagsinput {
    background-color: #fff;
    border: 0px;
    overflow: hidden;
    padding-left: 0px;
    padding-top: 0px;
  }
  
  .react-tagsinput--focused {
    border-color: transparent;
  }
  
  .react-tagsinput-tag {
    background-color:var(--primary);
    border-radius: 50px;
    border: 0px;
    color: white;
    display: inline-block;
    font-family: sans-serif;
    font-size: 1.05em;
    font-weight: 400;
    margin-bottom: 0;
    margin-right: 4px;
    padding: 10px;
    height: 5vh;
    width: fit-content;   
  }
  
  .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
  }
  
  .react-tagsinput-tag a::before {
    content: " ×";
  }
  
  .react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 6px;
    margin-left: 6px;
    outline: none;
    padding: 5px;
    width: 80px;
  }

 .sugestions .react-tagsinput .react-tagsinput-input{
     width: 0px;
     height: 0px;
 }

 .sugestions .react-tagsinput .react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
  }
  
  .sugestions .react-tagsinput .react-tagsinput-tag a::before {
    content: " ×";
  }

.MuiGrid-root div .MuiAutocomplete-root{
  width: 100% !important;
}


ul.ks-cboxtags-checked  {
  list-style: none;
  display: inline-block !important;
  width: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 5px !important;
}

ul.ks-cboxtags-checked li{
display: inline;
white-space:nowrap;
}

ul.ks-cboxtags-checked li label{
  display: inline-block;
  border: 2px solid var(--primary);
  background: var(--primary);
  color:white;
  font-weight: 500;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.ks-cboxtags-checked li label {
  padding: 8px 12px;
  cursor: pointer;
  transition: all .2s;
}

.MuiGrid-justify-xs-center {
  padding: 1em;
}

ul.ks-cboxtags-checked li input[type=checkbox]:checked + label {
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(1, 1, 1, .3);
  color: rgba(1, 1, 1, .5);

  transition: all .2s;
}

ul.ks-cboxtags-checked li input[type="checkbox"] {
display: absolute;
}

ul.ks-cboxtags-checked li input[type="checkbox"] {
position: absolute;
opacity: 0;
}
ul.ks-cboxtags-checked li label:hover {
  color: white;
  border: 2px solid var(--primary);
  transition: all .2s;
}
ul.ks-cboxtags-checked li input[type=checkbox]:checked + label:hover {
  color: var(--primary);
  border: 2px solid var(--primary);
  transition: all .2s;
}



.MuiAutocomplete-endAdornment .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator .MuiIconButton-label .MuiSvgIcon-root{
  width: 0 !important;
  height: 0 !important;
}

.MuiAutocomplete-endAdornment .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator .MuiIconButton-label {
  width: 0 !important;
  height: 0 !important;
}
.MuiAutocomplete-endAdornment .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-clearIndicator {
  width: 0 !important;
  height: 0 !important;
}

.add_clothes_btn_container{
  text-align: center;
}
.add_clothes-btn:hover {
  width: 230px;
}

.add_clothes-btn::before,
.add_clothes-btn::after {
  transition: width var(--transition-duration) ease-in-out, border-radius var(--transition-duration) ease-in-out;
  content: "";
  position: absolute;
  height: 6px;
  width: 14px;
  top: calc(50% - 2px);
  background: white;
}

.add_clothes-btn::after {
  right: 20px;
  overflow: hidden;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.add_clothes-btn::before {
  left: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.add_clothes_btn-txt {
  font-family: 'Product Sans';
  width: 120px !important;
  min-width: 120px;
  max-width: 120px;
  opacity: 0;
  transition: opacity 0.15s;
  color: white;
  font-size: 1.4em;
  letter-spacing: 0;
}

.add_clothes-btn:hover::before,
.add_clothes-btn:hover::after {
  width: 6px;
  border-radius: 3px;
}

.add_clothes-btn:hover .add_clothes_btn-txt {
  opacity: 1;
}

.add_clothes-icon::after,
.add_clothes-icon::before {
  transition: all var(--transition-duration) ease-in-out;
  content: "";
  position: absolute;
  height: 28px;
  width: 6px;
  border-radius: 3px;
  top: calc(50% - 12px);
  background: white;
  overflow: hidden;
}

.add_clothes-icon::before {
  left: 32px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.add_clothes-icon::after {
  right: 32px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.add_clothes-btn:hover .add_clothes-icon::before {
  left: 21px;
  height: 6px;
  border-radius: 3px;
  top: calc(50% - 2px);
}

.add_clothes-btn:hover .add_clothes-icon::after {
  right: 21px;
  height: 6px;
  border-radius: 3px;
  top: calc(50% - 2px);
}
.icon-btn {
  width: 70px;
  height: 70px;
  background: var(--gradient);
  border: none;
  border-radius: 35px;
  overflow: hidden;
  position: relative;
  transition: width var(--transition-duration) ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-btn:focus {
  outline: none;
}